<form action="/customers/<%= @customers.id%>" method="POST">
  
<label for="customer">Customer</label>
<input type="text" id="customer" name="customer" value="<%= @customer.name%>">

<input type="submit" value="Submit Customer">

</form>