<p><a href="/customers/new">Create Customer</a></p>

<p>All the customers!</p>

 

<% for customer in @customers %>
  <p>Name: <%= customer.name %> </p>
  <p><a href="/customers/<%= customer.id %>">Show customer</a></p>
  <hr />
<% end %>